.event
	width: 100%
	min-height: 100vh
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	background-image: url('../img/bg.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	color: #fff
	&__title
		font-size: 100px
		font-weight: 800
		margin-bottom: 62px
		line-height: 1.2
	&__info
		display: flex
		gap: 80px
		margin-bottom: 62px
	&__info-item
		font-size: 30px
		line-height: 2
		display: flex
		align-items: end
		gap: 8px
	&__info-number
		font-size: 80px
		font-weight: 800
		line-height: 1.2
	&__button
		font-size: 24px
		line-height: 1.4
	&__button_reserve
		padding: 16px 36px
		border-radius: 36px
		background-color: #ffc119
		color: #1a1a1a
		margin-bottom: 24px
	&__button_edit
		display: flex
		align-items: center
		font-size: 18px
		gap: 8px
