section.booking
	.booking__container
		h2.booking__title Забронируйте место в зале
		form.booking__form(method="POST")
			fieldset.booking__fieldsed.booking__fieldset_user-info
				legend.booking__legend Введите данные
				.booking__input-group 
					input.booking__input.booking__input_fullname(type="text" name="fullName" placeholder="Имя Фамилия")
					input.booking__input.booking__input_phone(type="text" name="phone" placeholder="Телефон")
					input.booking__input.booking__input_ticket(type="text" name="ticketNumber" placeholder="Номер билета")
			fieldset.booking__fieldsed.booking__fieldset_comedians
				legend.booking__legend Выберите комика
				ul.booking__comedians-list
					li.booking__comedian
						select.booking__select.booking__select_comedian(name="comedian")
							option(value="1") Юлия Ахмедова
							option(value="2") Слава Комиссаренко
						select.booking__select.booking__select_time(name="time")
							option(value="20:00") 20:00
							option(value="22:00") 22:00
						button.booking__hall Зал 1
			button.booking__button.booking__button_submit Сохранить
